h1, h2
{
    line-height: 1;
    color:#cbba86;
}

small
{
    color:#bebebe
}

a
{
    color:#2eaeee;
}

a:hover
{
    color:#45c1ff;
}

html
{
    background-color: #181821;
    background: linear-gradient(90deg,rgba(24, 24, 33, 1) 0%, #23222E 50%, rgba(24, 24, 33, 1) 100%);
}

body
{   
    font-family:sans-serif, Arial;  
    color: #efefef;
    margin: 0;
}

main
{
    font-size: large;
    line-height: 1.4;
    background-color: #18151e;
    padding: 2rem;
    margin: auto;
    max-width: 600px;
}

img
{
    border-radius: 2rem;
    display: block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    margin-inline: auto;
}

figure
{
    margin: 1em 0;
    text-align: center;
    font-size: medium;
    color:#bebebe;
}

blockquote
{
  margin: 1rem 0;
  padding: 0 1rem;
  border-left: 4px solid #cbba86;
  color:#bebebe;
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cbba86;
    margin: 1em 0;
    margin-inline: 20%;
}

nav hr
{
    margin: 1em 0;
}

nav
{
    display: none;
}

@media (min-width: 1120px)
{
    nav
    {
        left: calc(50% - 520px);
        display:flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: auto;
        position: fixed;
        text-align: right;
    }
}

nav a
{
    font-size: large;
    font-family: sans-serif;
    display: block;
    line-height: 1.4;
    text-decoration: none;
}