:root
{
    --color-platinum: #ededed;
    --color-silver: #bebebe;
    --color-sand: #cebb90;
    --color-shadow: #14121d;
    --color-ink-light: #1a1824;
    --color-ink-dark: #171320;
    --color-link: #3ebbfe;
    --color-link-hover: #7ad4fe;
}

h1, h2
{
    line-height: 1;
    color: var(--color-sand);
}

small
{
    color: var(--color-silver);
}

a
{
    color: var(--color-link);
}

a:hover
{
    color: var(--color-link-hover);
}

body
{   
    font-family:sans-serif, Arial;  
    display:flex;
    color: var(--color-platinum);
    margin: 0;
}

main
{
    font-size: large;
    line-height: 1.4;
    background-color: var(--color-shadow);
    padding: 1rem 2rem;
    margin: auto;
    max-width: 600px;
}

img
{
    border-radius: 2rem;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

figure
{
    margin: 1rem 0;
    text-align: center;
    font-size: medium;
    color: var(--color-silver);
}

blockquote
{
  margin: 1rem 0;
  padding: 0 1rem;
  border-left: 4px solid var(--color-sand);
  color: var(--color-silver);
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-sand);
    margin: 1rem 0;
    margin-inline: 20%;
}

nav hr
{
    margin: 0.5rem 0;
}

aside
{
    background-image: linear-gradient(to left,  var(--color-ink-light), var(--color-ink-dark) max(160px, 100%));
    display:flex;
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
}

aside.right
{
    background-image: linear-gradient(to right, var(--color-ink-light),  var(--color-ink-dark) max(160px, 100%));
}

nav
{
    display: none;
}

@media (min-width: calc(600px + 4rem + 160px + 2rem))
{
    nav
    {
        display:flex;
        flex-direction: column;
        width: 160px;
        align-self: center;
        text-align: right;
        margin-left: auto;
        padding: 1rem;
    }
}

nav a
{
    font-size: large;
    font-family: sans-serif;
    line-height: 1.4;
    text-decoration: none;
}